<!DOCTYPE html>
<html>
<head>
  <title>AllYourMigrations</title>
  <%= stylesheet_link_tag    "all_your_migrations/application", media: "all" %>
  <%= javascript_include_tag "all_your_migrations/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
